.navbar {
  position: fixed;
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--light);
  padding: 3rem;
  z-index: 99;
  background-color: var(--black);
  transition: all 0.5s ease;
}
.title {
  display: flex;
  gap: 0.3rem;
  text-align: center;
}

.title > a {
  text-decoration: none;
  display: flex;
  color: inherit;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  color: var(--IRed);
}

.navLinks {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.navItem > a {
  text-decoration: none;
  color: var(--light);
  font-size: 0.9rem;
  font-family: "Titillium Web";
  letter-spacing: 0.2rem;
  font-weight: 600;
  display: flex;
  gap: 10px;
  transition: all 0.1s ease-in;
  text-align: center;
  transition: all 0.3s ease-in;
}

.navItem::after {
  content: "";
  float: left;
  height: 2px;
  margin-top: 2px;
  width: 0%;
  background-color: var(--light);
  transition: all 0.5s ease;
}

.navItem:hover:after {
  width: 100%;
}
.navItem.active:after {
  width: 100%;
}
.navItem:not(.active) {
  opacity: 0.8;
}
.navItem:not(.active) > a {
  opacity: 0.8;
  font-weight: 400;
}

.nav-marker {
  color: var(--IRed);
}
@media (max-width: 1300px) {
  .navLinks {
    width: 70%;
  }
}
@media (max-width: 1100px) {
  .title {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
  .navItem > a {
    font-size: 0.7rem;
  }
}
@media (max-width: 900px) {
  .navLinks {
    display: none;
  }
  .burger {
    display: flex;
  }
}
