@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --dark: #060047;
  --black: #181823;
  --IRed: #e96479;
  --light: #ecf2ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  user-select: none;
  cursor: none;
}
body {
  font-family: "Poppins", sans-serif;
}
.app {
  background-color: var(--black);
}

::-webkit-scrollbar {
  background-color: var(--black);
  width: 2px;
  cursor: pointer !important;
}
::-webkit-scrollbar-thumb {
  background-color: var(--light);
}

.cursor {
  background-color: #fff;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
}
