@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --dark: #060047;
  --black: #181823;
  --IRed: #e96479;
  --light: #ecf2ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  user-select: none;
}
body {
  background-color: var(--black);
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  background-color: var(--black);
  width: 12px;
  cursor: pointer !important;
}
::-webkit-scrollbar-thumb {
  background-color: var(--IRed);
}
